{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %}
        <div class = "page-header">
            <h1>Rango says.....Hello {{ user.username }}</h1>
        {% else %}
            <h1>Rango says.....Hello World</h1>
    {% endif %}

            <img id = 'index-img' src = "{% static 'media/hello.png' %}" width = '1130' height = '450'>
            <br><br><br><br>
        </div>


    <div class="row placeholders">
            <div class="col-xs-12 col-sm-6 placeholder">

               <div class="panel panel-primary">
                    <div class="panel-heading">
                    <h3 class="panel-title">Top Five Categories</h3>
                    </div>
                </div>

                {% if categories %}
                    <ul class = "list-group index-li">
                        {% for category in categories %}
                         <li class = "list-group-items"><a href="/rango/category/{{category.slug}}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
            </div>

            <div class="col-xs-12 col-sm-6 placeholder">

              <div class="panel panel-primary">
                    <div class="panel-heading">
                    <h3 class="panel-title">Top Five Pages</h3>
                    </div>
              </div>

                {% if pages %}
                    <ul class = "list-group index-li">
                        {% for page in pages %}
                         <li class = "list-group-items"><a href="{% url 'rango_goto' %}?page_id={{page.id}}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
            </div>
    </div>


    <p> visits: {{ visits }}</p>

{% endblock %}